.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  padding-right: 20px; /* Add some padding on the right */
  color: white;
}

.login-button {
  margin-top: 20px; /* Add some space on the top */
  text-align: center; /* Center the greeting message */
  font-size: 24px; /* Increase the font size */
  color: #282c34; /* Set a color for the text */
}

.login-page,
.register-page {
  margin: auto;
  width: 300px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.login-form label,
.login-form input {
  display: block;
  margin: 10px 0;
}

.login-form input {
  padding: 8px;
  width: calc(100% - 16px); /* Adjust input width */
}

.login-link,
.register-link {
  margin-top: 10px;
}

.login-link a,
.register-link a {
  color: #007bff;
  text-decoration: none; /* Optional: if you prefer no underline */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use the full height of the viewport */
  padding: 20px;
}

.register-page {
  width: 100%;
  max-width: 400px;
  margin: auto; /* Center the form */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.register-page h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.register-form input {
  width: 100%;
  padding: 10px;
  color: black;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Include padding in width */
}

.register-form button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #4b82e9; /* Cornflower Blue */
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 300ms;
}

.register-form button:hover {
  background-color: #6495ed;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.login-link a {
  color: #6495ed;
  text-decoration: none;
}


/* upcomingPage css*/


.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2C3E50;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo-container {
  /* Add styles for your logo container here */
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

.navigation li {
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.navigation li.active {
  background-color: #34495E;
}

.main-content {
  flex-grow: 1;
  background-color: #ECF0F1;
  padding: 20px;
}

.upcoming-appointments {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appointment-item {
  border-left: 4px solid #2980B9;
  margin-bottom: 20px;
  padding-left: 20px;
}

.appointment-date {
  display: block;
  color: #7F8C8D;
}

.appointment-name {
  display: block;
  color: #2C3E50;
  font-size: 20px;
}

/* BookApointmentPage css*/

/* src/pages/BookAppointmentPage/BookAppointmentPage.css */
.book-appointment-page {
  display: flex;
  height: 100vh;
}


.appointment-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ECF0F1;
}

.calendar {
  /* Styles for your calendar component */
}

.appointment-list h2 {
  color: #3498DB;
  margin-bottom: 10px;
}

.appointment-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.appointment-item:hover,
.appointment-item.selected {
  background-color: #3498DB;
  color: white;
  border-color: #2980B9;
}

.appointment-time {
  font-weight: bold;
}

.appointment-info {
  text-align: right;
}

.select-appointment-btn {
  background-color: #3498DB;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

.select-appointment-btn:hover {
  background-color: #2980B9;
}

/* Sidebar.css */




.logo-container img {
  max-width: 100%;
  height: auto;
}


.navigation li a {
  color: white;
  text-decoration: none;
  display: block; /* Make the link fill the li for bigger click area */
  margin: 0 -40px; /* This counteracts the padding to allow the background to extend fully */
  padding: 10px 50px; /* Adjust padding as necessary */
  
}

.navigation li a.active {
  background-color: #34495E;
  border-radius: 0; /* Add border-radius if you want rounded corners */
  margin: 0 -40px; /* This counteracts the padding to allow the background to extend fully */
  padding: 10px 50px; /* Increase padding to account for the margin adjustment */
  border-left: #9da7ba;
  border-width: 10px;
}




/* calendar.css */

.week-calendar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.week-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  margin: 0 2px;
}

.day.selected {
  background-color: #3498DB;
  color: white;
}

.day-name {
  font-weight: bold;
}

.day-number {
  font-size: larger;
}
